
<!-- <button mat-raised-button color="primary" (click)="deco()">Redirect to Custome Decorator</button>&nbsp;
<button mat-raised-button color="primary" (click)="ngContent()">Redirect To NgContent Page</button>&nbsp;
<button mat-raised-button color="primary" (click)="viewChild()">Redirect To ViewChild Page</button>&nbsp;
<button mat-raised-button color="primary" (click)="deco()">Redirect to Custome Decorator</button>&nbsp; -->
<!-- <button mat-raised-button color="primary" (click)="rxjs()">Redirect to Rxjs</button>&nbsp; -->

        <router-outlet></router-outlet>
