<h1 sample>This heading will get changed after some time</h1>
<button mat-raised-button color="primary" (click)="deco()">Redirect to Custome Decorator</button>&nbsp;
<button mat-raised-button color="primary" (click)="ngContent()">Redirect To NgContent Page</button>&nbsp;
<button mat-raised-button color="primary" (click)="viewChild()">Redirect To ViewChild Page</button>&nbsp;
<button mat-raised-button color="primary" (click)="deco()">Redirect to Custome Decorator</button>&nbsp;
<br>
<app-stand></app-stand>
<mat-card>
    <mat-card-content align="center">
        <router-outlet></router-outlet>
    </mat-card-content>
</mat-card>